*.o
*.a
*.so
*.xml
*.pyc
*.log
**/logs/**
.vscode/
__pycache__
.cproject
.project
.pydevproject
.settings/
venv/
.idea/
.DS_Store
/tests/.cache/
/bin/
/tests/tests_report.xml
site/
/tests/benchmarks/profile_*
build
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
